@import '../../node_modules/semantic-ui-css/semantic.min.css';

// @import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Overlock&display=swap');


@import url('https://fonts.googleapis.com/css?family=Averia+Sans+Libre&display=swap');

.formal {
    font-family: 'Raleway', sans-serif;
}

.informal {
    // font-family: 'Neucha', cursive;
    font-family: 'Overlock', cursive;
}


html,
body {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    color: #333;
    @extend .formal;
}

a, .a {
    color: initial;
}

.navbarBrand {
    font-size: 180%;
    padding: 5px !important;
    // @extend .informal;
    font-family: 'Averia Sans Libre', cursive;
}

.myImage {
    // filter: grayscale(0.8);
}

.listHeader {
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    @extend .pb-2;
    @extend .informal;
    color: initial;
}

.listSubHeader {
    text-align: center;
    font-size: 1.2em;
    @extend .pb-1;
    // font-weight: 700;
    // @extend .informal;
}

.aboutText {
    // text-align: justify;
}

.jumbotitle {
    font: {
        size: 2em;
        weight: 700;
    }

    color: #343434;
    @extend .mb-2;
    @extend .informal;
}

p {
    font-size: 1.2em;
    // letter-spacing: 0.01em;
    line-height: 1.7em;
    color: #555;
}

.article {
    &__header {
        font-size: 2.3em;
        font-weight: 600;
        line-height: 1.15em;
        @extend .mb-1;
    }

    &__date {
        font-size: 1.1em;
        color: grey;
    }

    &__desc {}

    &__github {
        // color: #2c69f6;

        font-size: 1em;
    }

    &__thumbimage {
        width: 100%;
        // height: 100%;
        border-radius: 10px;
    }
}

.homelist {
    background-color: #fafafa;
    @extend .pv-4;
}

// [hidden] {
//     display: none;
// }

@import './system';